<odoo>
    <data>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Voltsillam</field>
            <field name='start_date'>3/27/2021</field>
            <field name='end_date'>6/24/2021</field>
            <field name='presential'>false</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Toughjoyfax</field>
            <field name='start_date'>10/2/2021</field>
            <field name='end_date'>6/8/2021</field>
            <field name='presential'>false</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Flowdesk</field>
            <field name='start_date'>7/23/2021</field>
            <field name='end_date'>2/11/2022</field>
            <field name='presential'>true</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Temp</field>
            <field name='start_date'>9/30/2021</field>
            <field name='end_date'>5/16/2021</field>
            <field name='presential'>false</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Zaam-Dox</field>
            <field name='start_date'>6/18/2021</field>
            <field name='end_date'>5/30/2021</field>
            <field name='presential'>true</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Viva</field>
            <field name='start_date'>6/4/2021</field>
            <field name='end_date'>4/5/2021</field>
            <field name='presential'>false</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Hatity</field>
            <field name='start_date'>8/8/2021</field>
            <field name='end_date'>11/16/2021</field>
            <field name='presential'>true</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>It</field>
            <field name='start_date'>4/30/2021</field>
            <field name='end_date'>5/29/2021</field>
            <field name='presential'>true</field>
        </record>
        <record id='event' model='dev_meet.event'>
            <field name='name'>Voyatouch</field>
            <field name='start_date'>1/11/2022</field>
            <field name='end_date'>4/24/2021</field>
            <field name='presential'>false</field>
        </record>
    </data>
</odoo>